:root {
  /* Kolory główne */
  --color-primary: #166534;
  --color-primary-light: #80c572;
  --color-primary-dark: #0f3f22;
  --color-bg-grey: #4B5563;
  /* Szarości */
  --color-bg: #f3f4f6;
  --color-card: #ffffff;
  --color-border: #e5e7eb;
  --color-text-muted: #6b7280;

  /* Tekst */
  --color-text: #111827;
  --color-white: #ffffff;
}


body {
    background-color: var(--color-primary-light); 
    color: var(--color-text); 
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar-custom {
    background-color: var(--color-white); 
    color: var(--color-primary);

    min-height: 9vh; 
  }
  .navbar{
    /*background-color: rgba(250, 250, 250, 0.733) tym zajmij sie jutro*/
  }
  #mainTittle
  {
    color: var(--color-primary-dark);
    font-size:xx-large;
  }
  #navTextColor
  {
    color: var(--color-text);
    font-size:larger;
  }
  #navTextColor:hover
  {
    color: var(--color-primary-light);
  }
  

  .header {
    background-image: url('/background-bhp-4.png');
    background-size:100%;
    background-position:center bottom;
    background-repeat: no-repeat;

    padding: 25px;
    /*color: var(--color-bg-grey);*/
    /*color: white;*/
    color:  var(--color-border);



    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    text-align: left;
  }
/*Tablet*/
  @media(min-width: 768px) and (max-width: 1024px){
    .header {
    background-image: url('/background-bhp-4.png');
    background-size:auto 100%;
    background-position:center bottom;
    background-repeat: no-repeat;
    
    }
    #dotacje-unijne
    {
      margin-top: 25px;
      width: 100% !important;
    }
  }
/*Telefon*/
  @media (max-width: 767px) {
    #dotacje-unijne
    {
      margin-top: 25px;
      width: 100% !important;
    }
    .header {
    background-image: url('/background-bhp-4.png');
    background-size:auto 100%;
    background-position:center bottom;
    background-repeat: no-repeat;
     }  
    #about
    {
      padding: 25px;
    }
    #services
    {
      padding: 25px;
    }
    #contact
    {
      padding: 25px;
    }
    #faq
    {
      padding: 25px;
    }
     .button1{
      width: 40%;

     }
     .button2
     {
      width: 45%;
     }
     .headerButtonsContainer
     {
        padding: 0px;
     }
  }
  .shadowBox
  {
    text-shadow:1px 1px 0.25  px #292b30;

  }
  #buttonSubmit
  {
    width: 150px;
  }
  .bi
  {
    color: var(--color-card);
    font-size: 1.5rem;
  }



  .card-body {
    position: relative;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-primary-dark);
    overflow: hidden;
    transition: color 0.4s ease;
  }
  
  /* overlay animacji */
  .card-body {
    position: relative;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-primary-dark);
    overflow: hidden;
    transition: color 0.4s ease;
  }
  
  /* overlay zjeżdżający z góry */
  .card-body::after {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    transition: top 0.4s ease;
    z-index: 0;
  }
  
  /* hover */
  .card-body:hover::after {
    top: 0;
  }
  
  .card-body:hover .bi{
    color: var(--color-text);
  }
  .card-body:hover{
    color: var(--color-text);
  }
  
  /* treść zawsze na wierzchu */
  .card-body > * {
    position: relative;
    z-index: 1;
  }
  





  .button1
  {
    background-color: var(--color-primary-dark);
    color: var(--color-border);

  }
  .button1:hover
  {
    color: var(--color-primary-light);
    background-color: #ffffff00;
    border: 1px solid var(--color-primary-light);
  }


 .button2
 {
  background-color: #242424;
  color:var(--color-border)

 }
 .button2:hover
 {
  color: var(--color-primary-light);
  background-color: #ffffff00;
  border: 1px solid var(--color-primary-light);
 }

 .faq a {
  color: var(--color-text)  ;
  font-weight: 500;
}

.faq a:hover {
  color: var(--color-primary-light);
}
.contact-icons{
  color: var(--color-text);
}
.contact-icons:hover{
  color: var(--color-primary)  ;
}
.contact-icons-footer
{
  font-size:large;
  color: var(--color-border);
}
.contact-icons-footer:hover{
  color: var(--color-primary-light);

}
.contact-icons-container
{
  width: 100%;
  padding: 45px;
  margin-left: 25px;
  padding-left: 25px;
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  align-items: center;    
  justify-content: center;

}
a{
  color: #f3f4f6;
}
.dane-kontaktowe
{
  line-height: 35px;
}
footer {
  /*background-color: var(--color-primary-dark);;*/
  background-image: url("/backgroundGreen.jpg"); 
    background-size: cover;   
    background-repeat: no-repeat; 
    background-position: center;  
  color: var(--color-white);
  text-align: left;
  border-radius: 15px 15px 0px 0px;
  padding: 25px;
  padding-bottom: 55px;

}
.informacje-wymagane
{
  text-align: center;
}
#dotacje-unijne
{
  margin-top: 25px;
  width: 45%;
}
h3{
  text-decoration: var(--color-primary-light) underline;

}
h2{
  text-decoration: var(--color-primary-light) underline;

}
h4{
  text-decoration: var(--color-primary-light) underline;
}
h5{
  text-decoration: var(--color-primary-light) underline;
}