<!-- Hero Section -->
<section class="header py-5 ">
  <div class="container" style="margin-top: -25px;">
    <h1 class="shadowBox display-4 fw-bold">Bezpieczeńśtwo i Higiena Pracy</h1>
    <p class="shadowBox lowerheadertext lead fw-semibold">Profesjonalne szkolenia i doradztwo BHP dla Twojej firmy</p>
    <div name="headerButtonsContainer">
      <a href="#services" class="button1 btn btn-lg mt-3" style="margin: 10px;">Nasza Oferta</a>
      <a href="#contact" class="button2 btn btn-lg mt-3" style="margin: 10px;">Skontaktuj się z nami</a>
   </div>
  </div>  
</section>

<!-- About Section -->

<section id="about" class="about py-5">
    <div class="container">
      <h2 class="mb-4">O nas</h2>
      <p style="font-size: 19px;">Jesteśmy firmą świadczącą kompleksowe usługi dla klientów indywidualnych oraz firm na terenie <b>Konina</b>, <b>Koła</b>, <b>Turku</b> i okolic Wielkopolski Wschodniej. Oferujemy szkolenia BHP, przeglądy i obsługę sprzętu przeciwpożarowego, montaż systemów alarmowych i monitoringu,
         a także wynajem namiotów eventowych z pełnym zapleczem technicznym. Naszym celem jest zapewnienie bezpieczeństwa, porządku i komfortu poprzez rzetelne usługi, indywidualne podejście oraz wysoką jakość realizowanych zleceń.</p>
    </div>
  </section>
  






  <!-- Services Section -->
  <section id="services" class="py-5 bg-light">
    <div class="container">
      <h2 class="mb-4 text-center">Nasze Usługi</h2>
      <!--Pierwszy wiersz-->
      <div class="row g-4">
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <i class="bi bi-book"></i> <!--IKONA-->
              <h5 class="card-title">Szkolenia BHP</h5>
              <p class="card-text">Prowadzimy szkolenia BHP oraz działania informacyjne, których celem jest zwiększenie bezpieczeństwa i świadomości pracowników w miejscu pracy.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <i class="bi bi-exclamation-triangle"></i> <!--IKONA-->
              <h5 class="card-title">Obsługa przeciwpożarowa</h5>
              <p class="card-text">Wykonujemy przeglądy, konserwację i weryfikację sprzętu przeciwpożarowego, w tym gaśnic, hydrantów oraz koców gaśniczych.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <i class="bi bi-check-lg"></i> <!--IKONA-->
              <h5 class="card-title">Systemy alarmowe i monitoring</h5>
              <p class="card-text">Zajmujemy się montażem oraz serwisem instalacji alarmowych i systemów monitoringu, zapewniając skuteczną ochronę obiektów.</p>
            </div>
          </div>
        </div>
      </div>
      <!--Drugi wiersz-->
      <div class="row g-4" style="margin-top: 10px;">
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <i class="bi bi-journal-bookmark-fill"></i> <!--IKONA-->
              <h5 class="card-title">Wynajem namiotów eventowych</h5>
              <p class="card-text">Oferujemy wynajem namiotów eventowych wraz z transportem, montażem, demontażem oraz dodatkowym wyposażeniem technicznym.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <i class="bi bi-card-checklist"></i> <!--IKONA-->
              <h5 class="card-title">Usługi sprzątania</h5>
              <p class="card-text">Świadczymy kompleksowe usługi sprzątania budynków oraz utrzymania porządku na terenach zewnętrznych.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <i class="bi bi-key-fill"></i> <!--IKONA-->
              <h5 class="card-title">Utrzymanie terenów zielonych</h5>
              <p class="card-text">Wspieramy firmy w opracowywaniu procedur BHP i wdrażaniu najlepszych praktyk w miejscu pracy.</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row g-4 justify-content-center" style="margin-top: 10px;">
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <i class="bi bi-card-checklist"></i> <!--IKONA-->
              <h5 class="card-title">Detailing pojazdów</h5>
              <p class="card-text">Oferujemy profesjonalne usługi detailingu pojazdów, poprawiające wygląd i ochronę samochodu.</p>
            </div>
          </div>
        </div>
      </div>
  
  
  
    </div>
  </section>
  
  <!--Blogi-->
<div class="container mt-5">
  <h2 class="mb-4">Nasze wpisy</h2>

  <div class="d-flex flex-nowrap overflow-auto pb-3" style="gap: 1.5rem;">
    
    <div *ngFor="let post of posts$ | async" class="card shadow-sm" style="min-width: 300px; max-width: 300px;">
      
      <img *ngIf="post.imageUrl" [src]="post.imageUrl" class="card-img-top" style="height: 180px; object-fit: cover;">
      
      <div class="card-body">
        <h5 class="card-title">
          {{ post.title }}
        </h5>
        
        <p class="card-text">
          {{ post.content }}
        </p>

        <div class="text-end">
          <small *ngIf="post.createdAt">
            {{ post.createdAt.toDate() | date:'dd.MM.yyyy HH:mm' }}
          </small>
        </div>
      </div>
    </div>

    <div *ngIf="(posts$ | async)?.length === 0" class="alert alert-info">
      Brak wpisów do wyświetlenia.
    </div>

  </div>
</div>
  
  <!-- Contact Section -->
  <section id="contact" class="py-5">
    <div class="container">
      <h2 class="mb-4">Kontakt</h2>
      <p>Skontaktuj się z nami za pomocą formularza poniżej lub bezpośrednio mailowo albo telefonicznie.</p>
  
  
      
        <p class="contact-icons bi bi-envelope mb-0"> zulus1@onet.eu</p>
        <p class="contact-icons bi bi-telephone mb-0"> 601 750 498</p>
        <br/>


      <h3>Formularz</h3>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Imię i nazwisko</label>
          <input type="text" class="form-control" id="name" placeholder="Twoje imię"[(ngModel)]="name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Twój email" [(ngModel)]="email">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Wiadomość</label>
          <textarea class="form-control" id="message" rows="4" placeholder="Twoja wiadomość"[(ngModel)]="message"></textarea>
        </div>
          <button type="submit" class="button1 btn" id="buttonSubmit" (click)="wyslijMaila()">Wyślij</button>
      </form>


      
    </div>
  </section>
  
  
  
  <!-- FAQ Section -->
  <section id="faq" class="py-5 bg-light">
    <div class="container">
      <h2 class="mb-4">Najczęsciej zadawane pytania</h2>
      <ul class="list-group faq">
  
        <li class="list-group-item">
          <a
            class="d-flex justify-content-between align-items-center text-decoration-none"
            data-bs-toggle="collapse"
            href="#faq1"
            role="button"
            aria-expanded="false"
            aria-controls="faq1"
          >
            <span>Jak długo trwa szkolenie BHP?</span>
            <span class="bi bi-chevron-down"></span>
          </a>
      
          <div class="collapse mt-2" id="faq1">
            <p class="mb-0">
              Szkolenie BHP trwa zazwyczaj od 2 do 4 godzin, w zależności od rodzaju stanowiska.
            </p>
          </div>
        </li>
      
        <li class="list-group-item">
          <a
            class="d-flex justify-content-between align-items-center text-decoration-none"
            data-bs-toggle="collapse"
            href="#faq2"
            role="button"
            aria-expanded="false"
            aria-controls="faq2"
          >
            <span>Czy szkolenie BHP jest obowiązkowe?</span>
          </a>
      
          <div class="collapse mt-2" id="faq2">
            <p class="mb-0">
              Tak, szkolenie BHP jest obowiązkowe dla wszystkich pracowników zgodnie z Kodeksem Pracy.
            </p>
          </div>
        </li>
      
      </ul>
    </div>
  </section>
  